<h1> <%= @player_1_name %> vs <%= @player_2_name %> </h1>

<div>
  <img style = "border: 4px dashed green;" src="http://r.ddmcdn.com/s_f/o_1/APL/uploads/2014/10/5-tips-to-stop-cats-from-fighting0.jpg">
</div>
